<!DOCTYPE HTML>
<html>
<head>
  <meta charset = "UTF-8">
  <title>album: {{.AlbumID}}</title>
</head>
<h5><a href="/login/?logout=yes">logout</a></h5>
<h1>album: {{.AlbumID}}</h1>
<h3><form enctype="multipart/form-data" method="POST" action="/upload/{{.AlbumID}}">
  <input type="file" accept="image/png" name="photo">
  <input type="submit">
  </form></h3>
<body>
<ul>
  {{range .Photos}}
  <li>
    <a href="/photo/{{.}}"><img src= "/photos/{{.}}" alt="TODO: Photo metadata or tags" style="width: 300px;"></a>
    <form enctype="application/x-www-form-urlencoded" method="POST" action="/photo/delete/{{.}}"><input type="submit" value="delete"></form>
  </li>
  {{ end }}  
</ul>

</body>
</html>