<!DOCTYPE HTML>
<html>
<head>
  <meta charset = "UTF-8">
  <title>Login</title>
</head>
<h1>Login</h1>
<body>
    <form> 
        <div>
          <label for="email">Enter email address: </label>
          <input id="email" type="text" name="email">
        </div>
        <div>
          <label for="password">Enter password: </label>
          <input id="password" type="text" name="password">
        </div>
        <div>
          <input type="submit" value="Login">
        </div>
      </form>
</body>
</html>